@use '../../../styles/variables';

.container {
  padding: 1.5rem;
  background: variables.rainbow-gradient(30%);
  background-size: 200% 200%;
  border-radius: variables.$radius;
  display: inline-block;
  transition-duration: variables.$theme-transition-duration;
  transition-property: background;
  animation: rainbow 3s ease infinite;
  animation-direction: alternate;

  .icon {
    opacity: 0.4;
    width: 1.5rem;
  }

  .stat {
    font-size: 1.3rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

html:global(.dark-mode) {
  .container {
    background: variables.$primary-gradient;
    animation: none;
  }
}

@keyframes rainbow {
  from {
    background-position: 0 50%;
  }

  to {
    background-position: 100% 50%;
  }
}
