@use '../../../styles/variables';

.container {
  margin: 1rem;
  padding: 1.5rem;
  background: variables.rainbow-gradient(30%);
  background-size: 200% 200%;
  border-radius: variables.$radius;
  display: inline-block;
  transition-duration: variables.$theme-transition-duration;
  transition-property: background;

  .icon {
    opacity: 0.4;
    width: 1.5rem;
  }

  .stat {
    font-size: 1.3rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

html:global(.dark-mode) {
  .container {
    background: variables.$primary-gradient;
  }
}
