@use "../../../styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .year {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &.vertical {
    flex-direction: column;
    align-items: flex-start;

    .year {
      margin-bottom: 1rem;
      font-size: 3rem;
      font-weight: 900;

      @media only screen and (max-width: variables.$mobile-max-width) {
        font-size: 2.5rem;
      }
    }

    .linkWrapper {
      margin-bottom: 1rem;
    }
  }
}
