@use "../../../styles/variables.scss";

.container {
  pre[class*="language-"], code[class*="language-"] {
    border-radius: variables.$radius;
    font-size: 1rem;
    font-family: monospace, monospace;
  }

  main {
    margin-top: 1rem;
  }
}

.date {
  color: lighten(variables.$black, 30%);
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 0.8rem;
}
