.media {
  max-width: 13rem;
  margin-left: 1.5rem;
  float: right;
}

.medium {
  max-width: 30vw;
}

.large {
  max-width: 90vw;
}

.rounded {
  border-radius: 5px;
}

.padding {
  margin-bottom: 2rem;
}
