@use '../../styles/variables';

.container {
  max-width: 40rem;
  margin-left: 1rem;
  float: right;

  @media only screen and (max-width: 750px) {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapVertically {
  float: none;
  margin: 1rem 0;
}

.video {
  width: 100%;
  border-radius: variables.$radius;
  border: 4px solid transparent;

  &:focus {
    border-color: rgba(variables.$primary-accent, 0.5);
    outline: none;
  }
}
