@use '../../styles/variables';

.media {
  max-width: 13rem;
  margin-left: 1.5rem;
  float: right;
}

.nextImage {
  height: auto;
  width: 100%;
}

.small {
  max-width: 13rem;
}

.medium {
  max-width: 35rem;

  @media only screen and (max-width: variables.$mobile-max-width) {
    // Bump up to large
    max-width: 90vw;
    margin-left: 0;
    float: none;
  }
}

.large {
  max-width: 90vw;
  margin-bottom: 16px;

  @media only screen and (max-width: variables.$mobile-max-width) {
    float: none;
    margin-left: 0;
  }
}

.rounded {
  img {
    border-radius: variables.$radius;
  }
}

.padding {
  margin-bottom: 2rem;
}
