@use '../../styles/variables';

.header {
  color: mix(variables.$white, variables.$black, 5%);
  margin: 0;
  transition-duration: variables.$theme-transition-duration;
  transition-property: color;
  position: relative;

  &:not(h1)::before {
    content: '#';
    position: absolute;
    left: -1em;
    color: variables.$primary-accent;

    @media only screen and (max-width: variables.$mobile-max-width) {
      position: relative;
      left: revert;
      margin-right: 0.5rem;
    }
  }
}

h1.header {
  font-size: 5rem;
}

h2.header {
  font-size: 2.5rem;
  font-weight: 900;

  &.topMargin {
    margin-top: 3rem;
  }
}

h3.header {
  font-size: 1.75rem;
}

html[data-theme='dark'] {
  .header {
    color: mix(variables.$white, variables.$black, 95%);
  }
}
