@use '../../styles/variables';

.icon {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  transition-duration: variables.$transition-duration;

  color: mix(variables.$white, variables.$black, 10%);

  &:hover, &:active {
    color: variables.$primary-accent;
  }

  .children {
    margin-left: 0.5rem;
  }
}

html:global(.dark-mode) {
  .icon {
    color: mix(variables.$white, variables.$black, 40%);

    &:hover, &:active {
      color: variables.$primary-accent;
    }
  }
}
