@use '../../styles/variables';

$offset: 15px;

.container {
  width: 20rem;
  height: 20rem;
  border-radius: variables.$radius;
  display: flex;
  flex-direction: column;
  background-color: variables.$white;
  color: variables.$black;
  transition-property: all;
  transition-duration: variables.$transition-duration;
  overflow: hidden;
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: variables.rainbow-gradient(0%);
    opacity: 0;
    transition-duration: variables.$transition-duration;
    background-size: 200% 200%;
    animation: rainbow 3s ease infinite;
    animation-direction: alternate;
  }

  &:hover {
    &:before {
      opacity: 0.2;
    }
  }

  .imageContainer {
    display: flex;
    flex-grow: 1;
    height: 1px;
    overflow: hidden;
    position: relative;
    padding: 1rem;

    picture {
      filter: grayscale(100%);
      height: 100%;
      width: 100%;
      display: flex;

      img {
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }

    .videoContainer {
      position: absolute;
      display: flex;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      margin: 1rem;

      video {
        height: 100%;
        filter: grayscale(100%);
      }
    }

    .withShadow {
      video {
        box-shadow: 0px 3px 8px 2px rgba(mix(variables.$white, variables.$black, 30%), 50%);
        width: auto;
        height: 100%;
      }
    }

    .roundedVideo {
      video {
        border-radius: 3px;

        // iOS bug :(
        @supports (-webkit-touch-callout: none) {
          box-shadow: none;
        }        
      }
    }
  }

  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    margin-right: 0.3rem;
    transition-property: all;
    transition-duration: variables.$transition-duration;
    display: flex;
    align-items: center;

    .arrow {
      margin-left: 0.3rem;
      opacity: 0;
      font-size: 60%;
      color: variables.$primary-accent;
      transition-duration: variables.$transition-duration;
      margin-left: -1rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .nameAndYear {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .year {
        font-weight: bold;
        font-size: 1.1rem;
        color: lighten(variables.$black, 30%);
      }
    }

    p {
      margin: 0.8rem 0;
    }
  }

  .tags {
    margin-top: auto;

    .tag {
      display: inline-block;
      background-color: variables.$black;
      color: variables.$white;
      padding: 0.3rem 0.5rem;
      border-radius: variables.$radius;
      margin-right: 0.5rem;
    }
  }


  &:hover {
    h3 {
      color: variables.$primary-accent;

      .arrow {
        opacity: 1;
        margin-left: 0.3rem;
      }
    }

    picture {
      filter: none !important;
    }

    video {
      filter: none !important;
    }
  }
}

html:global(.dark-mode) {
  .container {
    background: black;
    color: variables.$white;

    &:before {
      background: variables.$primary-gradient;
    }

    &:hover {
      background-color: mix(black, variables.$white, 80%);
      &:before {
        opacity: 0.5;
      }
    }

    .imageContainer {
      .withShadow {
        video {
          box-shadow: none;
        }
      }
    }
  }
}

@keyframes rainbow {
  from {
    background-position: 0 50%;
  }

  to {
    background-position: 100% 50%;
  }
}
