@use '../../styles/variables';

.title {
  margin: 0;
  font-size: 6rem;
  color: variables.$white;
  transition-duration: variables.$theme-transition-duration;
  letter-spacing: 3px;
  text-shadow:
    3px  3px 0 variables.$primary-accent,
   -1px -1px 0 variables.$primary-accent,
    1px -1px 0 variables.$primary-accent,
    -1px 1px 0 variables.$primary-accent,
     1px 1px 0 variables.$primary-accent;
}

body:global(.dark-mode) {
  .title {
    color: variables.$black;
  }
}
