@use '../../styles/variables';

.container {
  position: relative;
  overflow: hidden;

  .themeSelector {
    position: absolute;
    top: calc(1vh + 1vw);
    right: calc(1vh + 1vw);

    .body {
      width: calc((1vh + 1vw) * 4);
      height: calc((1vh + 1vw) * 4);
      border-radius: 100%;
      cursor: pointer;
      transition-duration: variables.$transition-duration * 4;
      background-color: variables.$yellow;
      box-shadow: 0px 0px 20px 0px rgba(variables.$yellow, 0.5);
    }
  }

  svg {
    max-height: 30rem;
    width: 100%;
  }

  svg path {
    fill: variables.$foreground;
    fill: mix(variables.$foreground, variables.$primary-accent, 40%);
    transition-duration: variables.$transition-duration * 4;
    fill-opacity: 1;
  }

  &.isDark {
    .body {
      background-color: rgba(variables.$foreground, 0.8);
      box-shadow: 0px 0px 20px 0px rgba(variables.$foreground, 0.3);
    }

    svg path {
      fill: #7A81FF;
      fill-opacity: 0.05;
    }
  }
}
