@use '../../styles/variables';

$dark-bg: mix(variables.$white, variables.$primary-accent, 15%);

.container {
  --body-size: calc(0.5vh + 1.5vw);
  --wave-container-height: calc(0.22 * 100vw);
  position: relative;
  overflow: hidden;
  height: min(22rem, 22vw);
  clip-path: url(#wave);
  background-color: $dark-bg;

  .themeSelector {
    --body-size: calc(1vh + 1vw);
    --container-size: calc(var(--wave-container-height));
    position: absolute;
    top: calc(var(--body-size) * 2);
    right: calc(var(--body-size) * 2);
    height: var(--container-size);
    width: var(--container-size);
    transform: rotate(40deg);
    animation-duration: variables.$theme-transition-duration * 3;

    .body {
      position: absolute;
      top: calc((var(--body-size) * 4) / -2);
      left: calc((var(--container-size) / 2) - ((var(--body-size) * 4) / 2));

      margin-top: env(safe-area-inset-right);
      margin-right: env(safe-area-inset-right);
      width: calc((1vh + 1vw) * 4);
      height: calc((1vh + 1vw) * 4);
      border-radius: 100%;
      cursor: pointer;
      transition-duration: variables.$theme-transition-duration;
      background-color: variables.$yellow;
      box-shadow: 0px 0px 20px 0px rgba(variables.$yellow, 0.5);
      z-index: 100;
    }

    &.isDark.wasChanged {
      animation-name: toMoon;
    }

    &.isLight.wasChanged {
      animation-name: toSun;
    }
  }

  .particlesContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-duration: variables.$theme-transition-duration;
    opacity: 0;
    transition-property: opacity;

    .particles {
      height: 100%;
    }

    &.active {
      opacity: 1;
    }
  }
}

html:global(.dark-mode) {
  .container {
    background-color: rgba(variables.$primary-accent, 0.05);

    .body {
      background-color: mix($dark-bg, variables.$white, 0.8);
      box-shadow: 0px 0px 20px 0px rgba(variables.$white, 0.3);
    }
  }
}

@keyframes toMoon {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(400deg);
  }
}

@keyframes toSun {
  from {
    transform: rotate(40deg);
  }
  to {
    transform: rotate(400deg);
  }
}
