.wrapper {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + env(safe-area-inset-left));
  padding-right: calc(1rem + env(safe-area-inset-right));

  & > * {
    grid-column: 2;
  }

  padding-bottom: 5rem;
}
