@use '../../styles/variables';

.container {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.marginForSectionTop {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.blogPostList {
  list-style: none;
  padding-left: 0;
  font-weight: 600;

  li {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: variables.$mobile-max-width) {
      flex-direction: row;
    }
  }

  .postPublishedAt {
    color: lighten(variables.$black, 30%);
    text-transform: lowercase;
    margin-right: 1em;
  }

  .postTags {
    display: flex;

    @media only screen and (min-width: variables.$mobile-max-width) {
      margin-left: auto;
    }

    .postTag {
      color: lighten(variables.$black, 30%);
      margin-right: 0.5rem;

      &:before {
        content: '#';
      }
    }
  }
}

.projectTiles {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;

  // 1rem for some deadzone
  @media only screen and (max-width: calc(20rem * 2 + 3rem + 1rem)) {
    grid-template-columns: 1fr;
  }
}

.projectTilesAnimate {
  & > * {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        $delay: 200ms * $i;
        animation: wait $delay 0s, fade-in 800ms ease-in-out $delay;
      }
    }
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
