.container {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.marginForSectionTop {
  margin-top: 4rem;
}

.projectTiles {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;

  // 1rem for some deadzone
  @media only screen and (max-width: calc(20rem * 2 + 3rem + 1rem)) {
    grid-template-columns: 1fr;
  }

  & > * {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        $delay: 200ms * $i;
        animation: wait $delay 0s, fade-in 800ms ease-in-out $delay;
      }
    }
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
