.media {
  max-width: 13rem;
  margin-left: 1.5rem;
  float: right;
}

.mediaRounded {
  border-radius: 4px;
}

.mediaFullWidth {
  max-width: 90vw;
}

.textSection {
  margin-bottom: 3rem;
  overflow: auto;
}
