@use 'variables';

html,
body {
  padding: 0;
  margin: 0;
  background-color: variables.$white;
  color: variables.$black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: variables.$theme-transition-duration;
  min-height: 100vh;
}

.dark-mode {
  background-color: variables.$black;
  color: variables.$white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  max-width: 30rem;
  line-height: 1.5;
}

h2 {
  font-size: 180%;
}
